body {
    padding: 64px;
}

.main {
    display: none;
    grid-template-columns: 30% auto;
    grid-template-rows: auto;
    grid-column-gap: 16px;
}

.today-submission-count,
.submission-count {
    padding: 8px;
    border: 1px solid #e1e1e1;
    border-radius: 4px;
    margin-bottom: 16px;
}

.today-submission-count h2 {
    font-size: 48px;
    margin: 0;
}

.today-submission-count > p,
.submission-count > p {
    margin-top: 0;
    font-weight: 500;
}

.submission-count > div {
    padding: 8px 0;
    font-size: 16px;
    display: flex;
    align-items: start;
    width: 100%;
}

.submission-count div.info {
    font-size: 12px;
    display: flex;
    flex-direction: column;
    align-items: end;
    gap: 2px;
    width: 100%;
}

.submission-count .info > div:first-child {
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.latest-submissions {
    border: 1px solid #e1e1e1;
    padding: 8px;
    border-radius: 4px;
}

.latest-submissions .recent-submission h3 {
    margin: 0;
}

.latest-submissions .recent-submission {
    padding: 8px;
    background-color: #f1f1f1;
    margin-bottom: 12px;
    border-radius: 4px;
    color: rgb(117, 117, 117);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.latest-submissions .recent-submission a  {
    color: cornflowerblue;
    text-decoration: none;
}

.latest-submissions .recent-submission:last-child {
    margin: 0;
}

.meter {
    background-color: rgba(0, 0, 0, 0.15);
    height: 4px;
    width: 100%;
    border-radius: 2px;
}

.meter p {
    height: 4px;
    margin: 0;
    border-radius: 4px;
}

.meter.all p {
    background-color: darkorange;
}

.meter.easy p {
    background-color: rgb(0, 184, 163);
}

.meter.medium p {
    background-color: rgb(255, 192, 30);
}

.meter.hard p {
    background-color: red;
}